.quiz-timer {
  display: flex;
  flex-direction: column;
}

.quiz-timer .timer-label {
  margin-bottom: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.countdown {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  padding-right: 25%;
  padding-left: 25%;
}

.countdown .bloc-time {
  width: 100%;
  text-align: center;
}

.countdown .count-title {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: bold;
}

.countdown .figure {
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow:
    0 3px 4px 0 rgb(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}

.countdown .figure > span {
  display: block;
  margin: auto;
  color: #1580bd;
  font-size: 50px;
  font-weight: 700;
}

.countdown .figure > span.warning,
.quiz-timer .timer-label > span.warning {
  color: #de4848;
}

.countdown .figure.warning {
  box-shadow:
    0 3px 13px 2px rgba(210, 21, 21, 0.8),
    inset -2px 10px 0 0 rgb(255, 255, 255, 0.08);
}
